@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 text-light my-5">  BEM-VINDO</h1>

    <svg class="me-2" bootstrap-icon="BagFill" width="90" height="90" aria-label="Alarms" color="White"></svg>



</div>
